* {
background-color: #fff7d7;
}
#me {
display: block;
margin-left: auto;
margin-right: auto;
height: auto;
}
body {
font-family: Arial, sans-serif;
background-color: white;
color: black;
margin: 0;
padding: 0;
}
header {
text-align: center;
padding: 2% 10% 2% 10%;
}
.content {
padding: 20px;
text-align: center;
}
hr {
border: none;
height: 1px;
background-color: #ffa500;
margin: 0 0;
}
footer {
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
padding: 10px;
}
